body {
	margin: auto;
	font-family: "Segoq UI", sans-serif;
	font-size: 12pt;
}
.clear{
	clear: both;
}

/* ----- Group Styling ----- */
.group {
	overflow: visible;
	width: 1100px;
	text-align: left;
	display: inline-block;
	padding-bottom: 100px;
	margin: 0 auto;
}
/*Padding between groups*/
.group:first-child {
	padding-top: 90px;
}
.item img{
	width: 100%;
}

/* ----- Text Styling ----- */
h1, p{
	margin: 10px 0 10px 0;
}
h1 {
	text-transform: uppercase;
}

/* ----- Left and Right Elements ----- */
.left, .right {
	width: 49%;
}
.left{ float: left; }

.right { float: right; }


/* ----- Responsive Sizing ----- */
@media only screen and (max-width: 1150px) {
	.left, .right, .item {
		clear: both;
		margin: 0 auto;
		max-width: none;
		width: 100%;
	}
	.item img {
		margin: 0 auto;
		padding-top: 35px;
		display: block;
		width: auto;
	}
	.group {
		width: 80%;
	}
}
@media only screen and (max-width: 700px) {
	.left, .right, .item {
		clear: both;
		max-width: none;
		width: 100%;
	}
	.item img {
		width: 100%;
		max-width: 505px;
	}
	.group {
		width: 90%;
	}
}

/* ----- Gradient coloring ----- */
.gradient {
	color: white;
	background-color: grey;
}


/* ------ Slideshow ------ */