body {
	margin: auto;
	font-family: "Segoq UI", sans-serif;
	font-size: 12pt;
}
.clear{
	clear: both;
}

/* ----- Group Styling ----- */
.group, .slides {
	overflow: visible;
	width: 1100px;
	text-align: left;
	display: inline-block;
	padding-bottom: 100px;
	margin: 0 auto;
}

/*Padding between groups*/
.group:first-child {
	padding-top: 90px;
}
.item img{
	width: 100%;
	transition: 0.2s ease;
}

/* ----- Text Styling ----- */
.item h1, p{
	margin: 5px 0 5px 0;
}
.item h1 {
	text-transform: uppercase;
}

/* ----- Left and Right Elements ----- */
.left, .right {
	width: 49%;
}
.left{ float: left; }

.right { float: right; }



/* ------ Slideshow ------ */
.carousel {
	background-image: linear-gradient(to bottom right, black,#4f4f4f);
	color: white;
	margin-bottom: 100px;
}
.slides{
	width: 100%;
	max-width: 900px;
	display: inline-block;
}

.slide img {
	width: 210px;
	margin-left: auto;
	transition: 0.5s ease;

}
.info {
	width: 60%;
	float: right;
}

/* ----- button styling ----- */
.slide button {
	color: white;
	font-family: "Segoq UI", sans-serif;
	font-weight: bold;
	font-size: 12pt;

	background-color: transparent;
	border: 2px solid #008CBA;
	border-radius: 15px;
	padding: 15px;
	margin: 20px 20px 0 0;
	transition: 0.2s ease;
}
#buy{
	border: none;
	background-color: #008CBA;
}

.slide button:hover {
	cursor: pointer;
	opacity: 0.5;
}


/* ----- slideshow arrows ----- */
.arrowspan {
	position: relative;
	width: 100%;
	max-width: 1300px;
	top: -250px;
}

.arrows{
	text-decoration: none;
	color: #008CBA;
	cursor: pointer;
	position: absolute;
	display: block;
	opacity: 0.7;
	transition: 0.3s ease;

	transform: translateY(-50%);

	font-weight: bold;
	font-size: 80px;
}
.prev{
	left: 20px;
}
.next {
	right: 20px;
}
a:hover {
	opacity: 0.4;
	color: white;
}


/* ----- Responsive Sizing ----- */
@media only screen and (max-width: 1150px) {
	/*Sections*/
	.left, .right, .item {
		clear: both;
		margin: 0 auto;
		max-width: none;
		width: 100%;
	}
	.item img {
		margin: 0 auto;
		padding-top: 35px;
		display: block;
		width: auto;
	}
	.group {
		width: 80%;
	}
}
@media only screen and (max-width: 700px) {
	/*Sections*/
	.left, .right, .item {
		clear: both;
		max-width: none;
		width: 100%;
	}
	.item img {
		width: 100%;
		max-width: 505px;
	}
	.group{
		width: 90%;
	}

	/*Slideshow*/
	.slide {
		clear: both;
		margin: 0 auto;
		width: 100%;
	}
	/*center slideshow images and buttons*/
	.slide img{
		margin: 0 auto;
		display: block;
		width: 210px;
	}
	.buttons{
		margin: 0 auto;
		display: block;
		width: auto;
	}
	.info {
		width: 100%;
	}
	.arrowspan {
		width: 100%;
		top: -500px;
	}	
}

/* ----- Gradient coloring ----- */
.gradient {
	color: white;
	background-image: linear-gradient(#4f4f4f,#bcbcbc);
}

